<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>[diam].png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>[exp].png</key>
            <dict>
                <key>frame</key>
                <string>{{204,44},{47,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>[gold].png</key>
            <dict>
                <key>frame</key>
                <string>{{204,86},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>[ha].png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,92}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[han].png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{92,92}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{92,92}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[ku].png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,100}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[leng].png</key>
            <dict>
                <key>frame</key>
                <string>{{100,194},{96,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,92}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[nu].png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,98}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{96,98}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[se].png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{96,96}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[xiao].png</key>
            <dict>
                <key>frame</key>
                <string>{{100,288},{94,92}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{94,92}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>[yun].png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{96,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,92}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fbec00344b6880aeddf2ea7be2c0631:1/1$</string>
            <key>textureFileName</key>
            <string>expression.png</string>
        </dict>
    </dict>
</plist>
